body {
	padding-top: 50px;
}

.index-jumbotron {
	padding-top: 100px;
	color: black;
	height: 400px;
}

.index-bubbles {
	padding-right: 200px;
	padding-left: 200px;
}

.locations-jumbotron {
	padding-top: 50px;
	color: black;
	height: 250px;
}

.row-format {
	padding-left: 65px;
	padding-right: 65px;
}

.company-format {
	padding-top: 40px;
}

.locations-format {
	padding-top: 0px;
}

.language-format{
	padding-top: 40px;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}