{% extends "base.html" %}
{% block head %}
  {{super()}}
	
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/custom.css">
{% endblock %}
{% block navbar %}
  {{super()}}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row text-center">
		<form action="/api/freespirit" method=post>
		{% for elem in drinks_lst %}
	    <dl>  
	      <dd><input type="checkbox" name='lst' value={{ elem }} >
	      <dd>{{ elem }}
	    </dl>
	    {% endfor %}	
	    <input class="btn btn-default" type='submit' name='submit' value='See my shopping list' >
	    </form>
	</div>

	<div class="row text-center">
		{% for elem in ingredients_result %}
		<div class="col-md-3 vertical-center">
			<p>{{ elem }}</p>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
{% block footer %}
  {{super()}}
{% endblock %}
