{% extends "base.html" %}
{% block head %}
  {{super()}}
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/custom.css">
{% endblock %}
{% block navbar %}
  {{super()}}
{% endblock %}
{% block content %}
    <div class="container">
      <h1 class="text-center">{{jobJson.job_title}}</h1>
      <h3 class="text-center">
        {% set jobCmpyID = jobJson.company_ID - 1 %}
        <a href="../company/{{cmpyJson[jobCmpyID].company_name}}">
          {{cmpyJson[jobCmpyID].company_name}}
        </a>
        //  
        {% set jobLocID = jobJson.location_ID - 1 %}
        <a href="../location/{{locJson[jobLocID].location_name}}">
          {{locJson[jobLocID].location_name}}
        </a>
      </h3>
      <hr>
      <h2 class="text-center">Description</h2>
      <div class="container">
        <ul>
          {{jobJson.job_description}}
        </ul>
        <br><br>
        <div class="text-center">
          <a href="{{jobJson.link}}" target="_blank">
            <button type="button" class="btn btn-primary">Apply here!</button>
          </a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <h3 class="text-center">
            {% set jobSkillsetID = jobJson.skillset_ID - 1 %}
            <a href="../skillset/{{skillsetJson[jobSkillsetID].skillset_name}}">
              {{skillsetJson[jobSkillsetID].skillset_name}}
            </a>
          </h3>
          <div class="list-group">
            {% for simSkillsetJobDict in jobsJson %}
              {% if simSkillsetJobDict.skillset_ID == jobSkillsetID + 1 %}
                {% if simSkillsetJobDict.job_title != jobJson.job_title %}
                  <a href="../job/{{simSkillsetJobDict.job_title}}" class="list-group-item">
                    {{simSkillsetJobDict.job_title}}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-md-3">
          <h3 class="text-center">
            {% set jobLangID = jobJson.language_ID - 1 %}
            <a href="../language/{{langJson[jobLangID].language_name}}">
              {{langJson[jobLangID].language_name}}
            </a>
          </h3>
          <div class="list-group">
            {% for simLangJobDict in jobsJson %}
              {% if simLangJobDict.language_ID == jobLangID + 1 %}
                {% if simLangJobDict.job_title != jobJson.job_title %}
                  <a href="../job/{{simLangJobDict.job_title}}" class="list-group-item">
                    {{simLangJobDict.job_title}}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-md-3">
          <h3 class="text-center">
            {% set jobCmpyID = jobJson.company_ID - 1 %}
            <a href="../company/{{cmpyJson[jobCmpyID].company_name}}">
              {{cmpyJson[jobCmpyID].company_name}}
            </a>
          </h3>
          <div class="list-group">
            {% for simCmpyJobDict in jobsJson %}
              {% if simCmpyJobDict.company_ID == jobCmpyID + 1 %}
                {% if simCmpyJobDict.job_title != jobJson.job_title %}
                  <a href="../job/{{simCmpyJobDict.job_title}}" class="list-group-item">
                    {{simCmpyJobDict.job_title}}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-md-3">
          <h3 class="text-center">
            {% set jobLocID = jobJson.location_ID - 1 %}
            <a href="../location/{{locJson[jobLocID].location_name}}">
              {{locJson[jobLocID].location_name}}
            </a>
          </h3>
          <div class="list-group">
            {% for simLocJobDict in jobsJson %}
              {% if simLocJobDict.location_ID == jobLocID + 1 %}
                {% if simLocJobDict.job_title != jobJson.job_title %}
                  <a href="../job/{{simLocJobDict.job_title}}" class="list-group-item">
                    {{simLocJobDict.job_title}}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <hr>
{% endblock %}
{% block footer %}
  {{super()}}
  <script src="../static/js/bootstrap.min.js"></script>
{% endblock %}